<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeRead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BAFEB1B2141D2BD00F12452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BAFEB312141D2C000F12452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BAFEB3C2141D2C100F12452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
